.slot {
    background-color: rgb(42, 42, 42);
    font-size: 0.90rem;
    user-select: none;
}

.weapon-list {
    max-height: 85vh;
}

.weapon-list-element {
    font-size: 0.90rem;
    user-select: none;
    cursor: pointer;
}

.weapon-list-element > div {
    cursor: pointer;
}

.weapon-list-element > div > label {
    cursor: pointer;
}

.ballistic-weapon {
    border-color: rebeccapurple !important;
}

.energy-weapon {
    border-color: darkorange !important;
}

.missile-weapon {
    border-color: limegreen !important;
}

.ams-weapon {
    border-color: indianred !important;
}

.ecm-weapon {
    border-color: yellowgreen !important;
}
